<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
  <% s = Student.where({:id => @the_student.student_id})[0]%>
    <h1>
      Student #<%= s.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/students">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        First name
      </dt>
      <dd>
        <%= s.first_name %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= s.last_name %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= s.email %>
      </dd>

      <dt>
        Number of courses
      </dt>
      <dd>
        <%= Enrollment.where({ :student_id => s.id }).count %>
      </dd>
    </dl>
  </div>
</div>


<hr>

<h3>Course Load</h3>
<ul>
  <% enrollments = Enrollment.where({:student_id => s.id }) %>
  <% enrollments.each do |enrollment| %>
    <li>
      <% course = Course.where({ :id => enrollment.course_id }).at(0) %>
      <a href="/courses/<%= course.id %>">
        <%= course.title %>
      </a>
    </li>
  <% end %>
</ul>
